@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Parisienne&display=swap");

.main-back {
  /* background-color: beige; */
  /* filter: blur(0.5px); */
  margin-top: -1px;
  pointer-events: none;
}
.background-image {
  /* position: fixed;
  display: block; */
  z-index: 1;
  width: 100%;
  height: 100px;
  min-height: 90vh;
  background-image: url(../../IMG/mainback.jpg);
  /* background-color: red; */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* filter: blur(1.5px); */
}

.main-title {
  /* background-color: red; */
  margin-left: 50%;
  padding-top: 20vh;
}

.text-main-page {
  margin-top: 0.5rem;
  width: 100%;
  /* justify-content: start; */
  text-align: center;
  cursor: pointer;
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
  font-size: 3rem;
  text-decoration: none;
  color: brown;
  /* background-color: aqua; */
}

.navbar-logo.c {
  margin-top: 10px;
  width: 100%;
  /* background-color: red; */
  cursor: pointer;
  font-family: "Parisienne", cursive;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  /* margin-left: 40px; */
  /* line-height: 70%; */
}

.main-logo {
  margin-left: 25%;
}

/*------------Mission-------------------*/
#mission {
  height: 980px;
  justify-content: center;
  /* background: yellow; */
}
.mission-wrapper {
  border: 2px solid gray;
  border-radius: 10px;
  position: absolute;
  /* background-color: blue; */
  display: grid;
  margin-top: 150px;
  margin-left: 5%;
  width: 90%;
  height: auto;
  /* grid-template-rows: 70px auto; */
  grid-template-columns: auto auto;
  grid-template-areas: "mission-area  mission-img-area";
}

.title-mission {
  font-family: "Cormorant Garamond", serif;
  font-size: 40px;
}

.mission-area {
  padding: 40px;
  font-family: "Cormorant Garamond", serif;
  /* background-color: aqua; */
  border-radius: 7px;
  height: auto;
  width: 100%;
  /* border: 1px solid #ccc; */
}

.mission-img-area {
  /* margin-top: 50px; */
  margin-right: 20px;
  /* position: absolute; */
  height: 100%;
  width: 100%;
  /* background-color: green; */
  grid-area: mission-img-area;
  /* border: 1px solid #ccc; */
}
.missionImg {
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
}
.mission-text {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 25px;
  font-weight: bold;
  font-family: "Cormorant Garamond", serif;
  color: black;
}
.missionOL li {
  line-height: 2.5rem;
}
/* .img-mission {
  position: absolute;
  display: block;
  min-width: 200px;
  max-width: 780px;
  height: 500px;
  z-index: -1;
  opacity: 0.3;
  filter: blur(4px);
}


/*-----------------------------------------------*/

/*------------Vision-------------------*/
#vision {
  height: 980px;
  justify-content: center;
  /* background: red; */
}
.vision-wrapper {
  /* background-color: blue; */
  border: 2px solid gray;
  border-radius: 10px;
  position: absolute;
  display: grid;
  margin-top: 150px;
  margin-left: 5%;
  width: 90%;
  height: auto;
  column-gap: 50px;
  /* grid-template-rows: 70px auto; */
  grid-template-columns: auto auto;
  grid-template-areas:
    /* "title-mission title-vision" */ "vision-img-area vision-area";
}

.title-vision {
  font-family: "Cormorant Garamond", serif;
  font-size: 35px;
}

.vision-area {
  padding-top: 40px;
  font-family: "Cormorant Garamond", serif;
  /* background-color: violet; */
  grid-area: vision-area;

  /* border: 1px solid #ccc; */
}

.vision-img-area {
  font-family: "Cormorant Garamond", serif;
  /* background-color: aqua; */
  grid-area: vision-img-area;
  height: 500px;
  /* border: 1px solid #ccc; */
}
.vision-text {
  /* background-color: aqua; */
  margin-top: 30px;
  padding-right: 10px;
  font-size: 25px;
  font-weight: bold;
  font-family: "Cormorant Garamond", serif;
  color: black;
}
.visionImg {
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
}
/* .img-vision {
  position: absolute;
  display: block;
  min-width: 200px;
  max-width: 900px;
  height: 500px;
  z-index: -1;
  opacity: 0.4;
  filter: blur(3px);
} */
/*-----------------------------------------------*/

/*--------------responsive testimony----------------------*/
#member {
  height: 1100px;
  /* background-color: blue; */
}
.testimonial-wapper {
  /* margin-top: 60px; */
  padding-top: 40px;
}
.carousel-root {
  width: 90% !important;
  margin: auto !important;
  margin-top: 3% !important;
}

.carousel .slide {
  background: #fff !important;
  color: black;
  height: 100%;
}

.carousel .slide img {
  width: 175px !important;
  height: 200px;
  border-radius: 70%;
}

.myCarousel {
  background: #fafafa;
  margin-top: -6%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  border: 1px solid #ddd;
  height: 686px;
}

.carousel .control-dots {
  padding-left: 5px !important;
  outline: 0;
  bottom: 5% !important;
}

.myCarousel h3 {
  color: #222;
  font-weight: 100;
  letter-spacing: 0.2px;
  margin-bottom: 4px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 26px;
}

.myCarousel h4 {
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 0;
  font-weight: 500;
  color: #787878;
  font-size: 26px;
}

.myCarousel p {
  margin-top: 30px;
  font-weight: 100 !important;
  line-height: 29px !important;
  color: #222;
  font-size: 25px;
  font-family: sans-serif;
  max-height: 67px;
}

.myCarousel p:before {
  content: "“";
  color: #aaa;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
}

.myCarousel p:after {
  content: "”";
  color: #aaa;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
  line-height: 0;
}

.carousel .control-dots .dot {
  box-shadow: none !important;
  background: #454545 !important;
  outline: 0;
}

.carousel.carousel-slider .control-arrow {
  background: #000 !important;
  height: 50px !important;
  position: absolute;
  top: 35% !important;
}

.App {
  text-align: center;
}

@media only screen and (max-width: 790px) {
  #member {
    height: 1200px;
  }
  .testimonial-wapper {
    /* margin-top: 60px; */
    padding-top: 40px;
  }
  .carousel-root {
    outline: 0;
    width: 93% !important;
    margin: auto !important;
  }

  .carousel.carousel-slider .control-arrow {
    display: none !important;
  }
  .myCarousel {
    background: #fafafa;
    margin-top: -9%;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    padding-bottom: 12.5%;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid #ddd;
    height: 850px;
  }

  .carousel .slide img {
    width: 25vh !important;
    height: 25vh !important;
    border-radius: 50%;
  }
  .myCarousel h3 {
    color: #222;
    margin-top: 10px;
    font-weight: 100;
    letter-spacing: 0.2px;
    margin-bottom: 4px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 17px;
  }
  .myCarousel h4 {
    text-transform: uppercase;
    margin-top: 0px;
    padding-top: 0px;
    font-weight: 500;
    color: #787878;
    font-size: 15px;
  }

  .myCarousel p {
    margin-top: 10px;
    font-weight: 100 !important;
    line-height: 29px !important;
    color: #222;
    font-size: 13px;
    font-family: sans-serif;
    max-height: 67px;
  }
}

/*-------------------------Target-----------*/
#target-projects {
  height: 1200px;
  justify-content: center;
  padding-top: 170px;
  /* background: blue; */
}
.TP-wrapper {
  /* background-color: aqua; */
  width: 100%;
  /* background-color: blue; */
}

.img-target {
  position: absolute;
  /* right: 10px;
  margin-left: 3%; */
  margin-top: -10px;
  z-index: -1;
  opacity: 0.6;
  filter: blur(2px);
  width: 100%;
  /* background-color: aqua; */
}
.img-target.img {
  height: 880px;

  margin: auto;
}

.TP-Project-Bg {
  border: 1px solid white;
  border-radius: 5px;
  position: relative;
  top: 50px;
  margin-left: 5%;
  /* padding-top: 100px; */
  background-color: white;
  opacity: 0.7;
  width: 90%;
  height: auto;
}
.TP-title {
  /* padding-top: 100px; */
  font-family: "Cormorant Garamond", serif;

  /* background-color: yellow; */
  margin-left: 30px;
  width: 90%;
}

.TP-title p {
  font-size: 40px;
}
.TP-text {
  margin-left: 65px;
  margin-right: 5%;
  font-size: 25px;
  font-weight: bold;
  font-family: "Cormorant Garamond", serif;
  color: black;
  /* background-color: red; */
}

.TP-title2 {
  font-family: "Cormorant Garamond", serif;
  /* background-color: yellow; */
  margin-left: 30px;
  width: 100%;
}
.TP-title2 p {
  font-size: 40px;
}
.TP-Project-Bg2 {
  border: 1px solid white;
  border-radius: 5px;
  position: relative;
  top: 60px;
  background-color: white;
  opacity: 0.7;
  width: 30%;
  height: auto;
  margin-left: 5%;
}
.TP-text2 {
  margin-left: 65px;
  font-size: 25px;
  font-weight: bold;
  font-family: "Cormorant Garamond", serif;
  color: black;
  /* background-color: red; */
}
/*--------------------------------------------*/
#meet-the-team {
  height: 980px;
  /* background: red; */
}

/*-------------------------whatyoucando--------------*/
#whatyoucando {
  height: auto;
  /* background-color: blue; */
  padding-top: 100px;
  margin-bottom: 30px;
}
.container {
  /* background-color: blue; */
  margin-top: 20px;
  border: 2px solid gray;
  border-radius: 10px;
  height: auto;
  width: auto;
  margin-bottom: 50px;
}
.title-container {
  margin: 20px;
  margin-bottom: 0px;
  font-weight: bold;
  font-family: "Cormorant Garamond", serif;
}
.text-container1 {
  /* background-color: red; */
  float: left;
  margin: 20px;
  margin-top: 10px;
  font-size: 1.5rem;
  font-family: "Cormorant Garamond", serif;
  height: auto;
}
.text-container2 {
  /* background-color: blue; */
  padding-left: 400px;
  margin-top: 10px;
  font-size: 1.5rem;
  font-family: "Cormorant Garamond", serif;
  min-height: 680px;
  max-height: auto;
}
.WCYD li {
  line-height: 4rem;
  padding-right: 20px;
  /* background-color: red; */
}
.paypal-wapper {
  width: 50%;
}
.contactUs-container {
  margin-left: 20px;
  border-top: 2px solid gray;
}
/*-------------------------Application---------------------*/
#Application {
  height: auto;
  /* background-color: blue; */
  padding-top: 100px;
  margin-bottom: 30px;
}

/*-------------------------media---------------------*/
@media screen and (min-width: 801px) and (max-width: 1300px) {
  /*---------------MISSION---------------------------------------------*/
  #mission {
    height: 700px;
    justify-content: center;
    /* background: yellow; */
  }
  .mission-wrapper {
    border: 2px solid gray;
    border-radius: 10px;
    position: absolute;
    /* background-color: blue; */
    display: grid;
    margin-top: 150px;
    margin-left: 5%;
    width: 90%;
    height: auto;
    /* grid-template-rows: 70px auto; */
    grid-template-columns: auto auto;
    grid-template-areas:
    /* "title-mission title-vision" */ "mission-area  mission-img-area";
  }

  .title-mission {
    margin-top: 20px;
    /* background-color: aqua; */
    padding-left: 20px;
    font-size: 27px;
    font-family: "Cormorant Garamond", serif;
  }

  .mission-area {
    padding: 0px;
    font-family: "Cormorant Garamond", serif;
    /* background-color: violet; */
    grid-area: mission-area;
    height: auto;
    /* border: 1px solid #ccc; */
  }
  .missionImg {
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
  }
  .mission-img-area {
    margin-top: 0px;
    margin-right: 20px;
    position: relative;
    height: auto;
    width: 100%;
    /* background-color: green; */
    /* grid-area: mission-img-area; */

    /* border: 1px solid #ccc; */
  }
  .mission-text {
    margin-top: -15px;
    margin-left: 0px;
    font-size: 20px;
    font-weight: bold;
    font-family: "Cormorant Garamond", serif;
    color: black;
    /* background-color: blue; */
  }
  .missionOL li {
    line-height: 2rem;
    padding-right: 20px;
    /* background-color: red; */
  }

  /*------------Vision-------------------*/
  #vision {
    height: 700px;
    justify-content: center;
    /* background: red; */
  }
  .vision-wrapper {
    /* background-color: blue; */
    border: 2px solid gray;
    border-radius: 10px;
    position: absolute;
    display: grid;
    margin-top: 150px;
    margin-left: 5%;
    width: 90%;
    height: auto;
    column-gap: 50px;
    /* grid-template-rows: 70px auto; */
    grid-template-columns: auto auto;
    grid-template-areas: "vision-img-area vision-area";
  }

  .title-vision {
    font-family: "Cormorant Garamond", serif;
    padding-left: 10px;
  }

  .vision-area {
    margin-top: 10px;
    position: relative;
    padding-top: 0px;
    font-family: "Cormorant Garamond", serif;
    /* background-color: violet; */
    grid-area: vision-area;

    /* border: 1px solid #ccc; */
  }

  .vision-img-area {
    /* overflow: auto; */
    position: relative;
    margin-left: 0px;
    margin-top: 0px;

    grid-area: vision-img-area;
    height: 300px;
    /* border: 1px solid #ccc; */
  }
  .vision-text {
    margin-top: 0px;
    margin-left: 0px;
    font-size: 20px;
    font-weight: bold;
    font-family: "Cormorant Garamond", serif;
    color: black;
  }
  .vision-text.p {
    margin-top: -20px;
    padding-left: 17px;
    padding-right: 10px;
    line-height: 2rem;
  }
  .visionImg {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }
  /*-------------------------Target-----------*/

  .TP-wrapper {
    /* background-color: aqua; */

    width: 100%;
  }

  .img-target {
    position: absolute;
    display: block;
    /* margin-left: -20px; */
    margin-top: -20px;
    /* min-width: 200px; */
    /* max-width: 1750px; */
    height: 900px;
    z-index: -1;
    opacity: 0.6;
    filter: blur(2px);
    width: 100%;
    /* background-color: aqua; */
  }
  .img-target.img {
    height: 680px;
    margin-left: 3px;
  }

  .TP-Project-Bg {
    border: 1px solid white;
    border-radius: 5px;
    position: relative;
    margin-top: 140px;
    margin-left: 7%;
    /* padding-top: 100px; */
    background-color: white;
    opacity: 0.7;
    width: 90%;
    height: auto;
  }
  .TP-title {
    font-family: "Cormorant Garamond", serif;
    /* background-color: yellow; */
    margin-left: 10px;
    width: 90%;
  }
  .TP-title p {
    font-size: 30px;
  }
  .TP-text {
    margin-left: 65px;
    margin-right: 5%;
    font-size: 15px;
    font-weight: bold;
    font-family: "Cormorant Garamond", serif;
    color: black;
    /* background-color: red; */
  }
  .TP-text li {
    margin-left: -5%;
  }
  .TP-title2 {
    font-family: "Cormorant Garamond", serif;
    /* background-color: yellow; */
    margin-left: 10px;
    width: 90%;
  }
  .TP-title2 p {
    font-size: 30px;
  }
  .TP-text2 li {
    margin-left: -5%;
  }
  .TP-Project-Bg2 {
    border: 1px solid white;
    border-radius: 5px;
    position: relative;
    margin-left: 7%;
    margin-top: 10px;
    background-color: white;
    opacity: 0.7;
    width: 90%;
    height: auto;
  }
  .TP-text2 {
    margin-left: 65px;
    font-size: 15px;
    font-weight: bold;
    font-family: "Cormorant Garamond", serif;
    color: black;
    /* background-color: red; */
  }
}
@media screen and (min-width: 279px) and (max-width: 800px) {
  .main-back {
    /* background-color: beige; */
    /* filter: blur(0.5px); */
    margin-top: -1px;
    pointer-events: none;
  }
  .background-image {
    /* position: fixed;
  display: block; */
    z-index: 1;
    width: 100%;
    /* min-width: 10vh; */
    height: 100px;
    min-height: 90vh;
    background-image: url(../../IMG/mainback.jpg);
    /* background-color: red; */
    background-position: -24vh;
    background-size: cover;
    background-repeat: no-repeat;
    /* filter: blur(1.5px); */
  }

  .main-title {
    /* background-color: red; */
    margin-left: 0%;
    padding-top: 15vh;
  }

  .text-main-page {
    margin-top: 0.5rem;
    width: 100%;
    justify-content: start;
    margin-left: 0px;
    cursor: pointer;
    font-family: "Cormorant Garamond", serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: brown;
    /* background-color: aqua; */
    padding-left: 19vh;
  }

  .navbar-logo.c {
    margin-top: 10px;
    width: 100%;
    /* background-color: yellow; */
    cursor: pointer;
    font-family: "Parisienne", cursive;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-left: 0px;
    /* line-height: 70%; */
  }

  /*---------------MISSION---------------------------------------------*/
  #mission {
    height: 1000px;
    justify-content: center;
    /* background: yellow; */
  }
  .mission-wrapper {
    border: 2px solid gray;
    border-radius: 10px;
    position: absolute;
    /* background-color: blue; */
    display: grid;
    margin-top: 90px;
    margin-left: 5%;
    width: 90%;
    height: auto;

    grid-template-rows: auto auto;
    grid-template-columns: 100%;
    grid-template-areas:
      "mission-img-area"
      "mission-area";
  }

  .title-mission {
    margin-top: 20px;
    /* background-color: aqua; */
    padding-left: 20px;
    font-size: 27px;
    font-family: "Cormorant Garamond", serif;
  }

  .mission-area {
    padding: 0px;
    font-family: "Cormorant Garamond", serif;
    /* background-color: violet; */
    grid-area: mission-area;
    height: auto;
    /* border: 1px solid #ccc; */
  }
  .missionImg {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }
  .mission-img-area {
    margin-top: 0px;
    margin-right: 20px;
    position: relative;
    height: 300px;
    width: 100%;
    /* background-color: green; */
    /* grid-area: mission-img-area; */

    /* border: 1px solid #ccc; */
  }
  .mission-text {
    margin-top: -15px;
    margin-left: 0px;
    font-size: 14px;
    font-weight: bold;
    font-family: "Cormorant Garamond", serif;
    color: black;
    /* background-color: blue; */
  }
  .missionOL li {
    line-height: 2rem;
    padding-right: 20px;
    /* background-color: red; */
  }

  /*------------Vision-------------------*/
  #vision {
    height: 700px;
    justify-content: center;
    /* background: red; */
  }
  .vision-wrapper {
    border: 2px solid gray;
    border-radius: 10px;
    position: absolute;
    /* background-color: blue; */
    display: grid;
    margin-top: 90px;
    margin-left: 5%;
    width: 90%;
    height: auto;
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
    grid-template-areas:
      "vision-img-area"
      "vision-area";
  }

  .title-vision {
    font-family: "Cormorant Garamond", serif;
    padding-left: 10px;
  }

  .vision-area {
    margin-top: 10px;
    position: relative;
    padding-top: 0px;
    font-family: "Cormorant Garamond", serif;
    /* background-color: violet; */
    grid-area: vision-area;

    /* border: 1px solid #ccc; */
  }

  .vision-img-area {
    /* overflow: auto; */
    position: relative;
    margin-left: 0px;
    margin-top: 0px;

    grid-area: vision-img-area;
    height: 300px;
    /* border: 1px solid #ccc; */
  }
  .vision-text {
    margin-top: 0px;
    margin-left: 0px;
    font-size: 14px;
    font-weight: bold;
    font-family: "Cormorant Garamond", serif;
    color: black;
  }
  .vision-text.p {
    margin-top: -20px;
    padding-left: 17px;
    padding-right: 10px;
    line-height: 2rem;
  }
  .visionImg {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }
  /*-------------------------Target-----------*/
  #target-projects {
    height: 1200px;
    justify-content: center;
    padding-top: 0px;
    /* background: blue; */
  }
  .img-target {
    position: absolute;
    /* display: block; */
    /* margin-left: -20px; */
    margin-top: 0px;
    /* min-width: 200px; */
    /* max-width: 1750px; */
    height: 900px;
    z-index: -1;
    opacity: 0.6;
    filter: blur(2px);
    width: 100%;
  }
  .img-target.img {
    height: 780px;
    /* margin-left: 3px; */
  }
  .TP-wrapper {
    /* background-color: aqua; */

    width: 90%;
  }

  .TP-Project-Bg {
    border: 1px solid white;
    border-radius: 5px;
    position: relative;
    margin-top: 140px;
    margin-left: 10%;
    /* padding-top: 100px; */
    background-color: white;
    opacity: 0.7;
    width: 90%;
    height: auto;
  }
  .TP-title {
    font-family: "Cormorant Garamond", serif;
    /* background-color: yellow; */
    margin-left: 10px;
    width: 90%;
  }
  .TP-title p {
    font-size: 30px;
  }
  .TP-text {
    margin-left: 65px;
    margin-right: 5%;
    font-size: 15px;
    font-weight: bold;
    font-family: "Cormorant Garamond", serif;
    color: black;
    /* background-color: red; */
  }
  .TP-text li {
    margin-left: -5%;
  }
  .TP-title2 {
    font-family: "Cormorant Garamond", serif;
    /* background-color: yellow; */
    margin-left: 10px;
    width: 90%;
  }
  .TP-title2 p {
    font-size: 30px;
  }
  .TP-text2 li {
    margin-left: -5%;
  }
  .TP-Project-Bg2 {
    border: 1px solid white;
    border-radius: 5px;
    position: relative;
    margin-top: 10px;
    margin-left: 10%;
    background-color: white;
    opacity: 0.7;
    width: 90%;
    height: auto;
  }
  .TP-text2 {
    margin-left: 65px;
    font-size: 15px;
    font-weight: bold;
    font-family: "Cormorant Garamond", serif;
    color: black;
    /* background-color: red; */
  }

  /*-------------------------whatyoucando--------------*/
  #whatyoucando {
    height: auto;
    padding-top: 100px;
    /* background-color: blue; */
    margin: 30px;
  }
  .container {
    /* background-color: blue; */
    width: 100%;
    border: 2px solid gray;
    border-radius: 10px;
    height: auto;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "title"
      "text1"
      "text";
    /* background-color: blue; */
  }
  .title-container {
    /* background-color: red; */
    margin: 20px;
    margin-bottom: 0px;
    font-weight: bold;
    font-family: "Cormorant Garamond", serif;
    grid-area: title;
  }
  .title-container u {
    font-size: 20px;
  }
  .text-container1 {
    /* background-color: red; */
    float: none;
    margin: 20px;
    margin-bottom: 0px;
    font-size: 1.5rem;
    font-family: "Cormorant Garamond", serif;
    height: auto;
    grid-area: text1;
  }
  .text-container2 {
    /* background-color: blue; */
    padding-left: 0px;
    margin-top: 0px;
    font-size: 1.5rem;
    font-family: "Cormorant Garamond", serif;
    height: auto;
    grid: text2;
    margin-bottom: 30px;
  }
  .WCYD li {
    line-height: 2.5rem;
    padding-right: 20px;
    /* background-color: red; */
  }
  .icons div {
    float: none;
    margin-top: 15px;
    margin-left: 30px;
  }
  .icons a {
    /* background-color: red; */
  }
}
